.homePage {
  background-image: url("../component/images/back-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .homapage_start {
    margin: 110px 28%;
    width: 45%;
    height: 60%;
    color: #041041;
    text-align: center;
    position: absolute;
    padding: 45px 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10.0px);
    -webkit-backdrop-filter: blur(10.0px);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    .homePage_btn {
      margin: 0 20px;
      border-radius: 3px;
      background-color: rgba(280, 280, 280, .6);
      display: block;
      position: relative;
      box-sizing: border-box;
    }

    .homePage_btn:hover {
      //background-color: #fff;
    }

    .homePage_btn:hover:before {
      width: 100%;
    }

    //.homePage_btn:before {
    //  content: '';
    //  width: 0;
    //  height: 67px;
    //  border-radius: 3px;
    //  position: absolute;
    //  left: 0;
    //  background: rgba(255, 255, 255, 1);
    //  transition: all .2s;
    //}

  }
}

.body {
  font-family: Nunito, sans-serif;
}

.table-style {
  padding: 0;

  thead {
    background-color: #5a6061;
    color: #fff;

    tr {
      td {
        padding: 17px 10px 0 10px;
        line-height: 2em;
        border: none;
      }

      .td-active {
        //max-width: 27px;
        padding: 17px 0;
      }

      .td-category {
        width: 130px;
        padding: 17px 0;
      }

      .td-img {
        width: 100px;
      }

      .td-edit, .td-delete {
        width: 10px;
        padding: 17px 0;
      }
    }
  }

  .publish-tbody .id {
    width: 80px !important;
  }

  .publish-tbody .td-edit,
  .publish-tbody .td-delete, {
    width: 80px;
  }

  .publish-tbody .td-img {
    width: 150px;
  }

  tbody {
    font-size: .9em;
    font-weight: normal;
    font-family: Nunito, sans-serif !important;

    tr {
      background-color: #fff;

      &:hover .small-modal {
        visibility: visible;
      }

      td {
        line-height: 1em;
        max-width: 100px !important;
        padding: 19px 2px 12px 2px;
        text-align: center;
        border: 1px solid rgba(224, 224, 224, .9);


        .edit-btn,
        .discount-btn,
        .delete-btn {
          border: none;
          height: 37px;
          margin-top: -6px;
          outline: none;
          border-radius: 3px;
          background-color: #fff;
          padding: 3px 10px;

          &:hover {
            background-color: #ccc;
          }
        }

        .discount-btn svg {
          width: 27px;
          fill: #141f38 !important;
          height: 27px;
        }
      }

      .td-img {
        padding: 0;

        img {
          margin-top: 3px;
          //border: 1px solid rebeccapurple;
        }
      }
    }

    .table-tr {
      width: 100%;
      color: #313E47;
      background-color: white;
      border-top: 10px solid #F9FAFB;
      border-bottom: 10px solid #F9FAFB;
      position: relative !important;

      .table-icon {
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
      }
    }

  }
}

.table-icon {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;

  &:hover {
    background-color: #f2f2f2;
  }
}

.discount_icon svg {
  width: 20px;
  height: 20px;
}

.SelectCourse-block_Col_p {
  font-size: 0.85rem;
}

.course-select-header {
  h3 {
    font-weight: lighter;
    display: inline-block;
  }

  span {
    font-size: 16px;
    color: #313E47;
    text-decoration: none;
    margin-left: 20px;
    font-weight: lighter;
    font-family: "Liberation Mono", sans-serif;
  }

}

.course-category {
  width: 23%;

  h4 {
    text-decoration: none;

    &:hover {
      text-decoration: none;

    }

  }

  &:hover {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  }

  p {
    color: #969191;
  }
}

.courses-style {
  width: 23%;
  font-family: Nunito, sans-serif !important;

  &:hover {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
  }

  p {
    color: #969191;
    font-size: 14px;
  }
}

.category-courses {
  width: 35%;
  box-shadow: 0.5px .5px 2px 1px rgba(0, 0, 0, 0.05);

  &:hover {
    box-shadow: 1px 1px 3px 1.5px rgba(0, 0, 0, 0.1);
  }

  h5 {
    font-size: 16px;
  }

  p {
    color: #969191;
    font-size: 13px;
  }
}

.add-button {
  border-radius: 20px;
  font-weight: lighter;
  border: none;
}

.select-student-style {
  font-family: Nunito, sans-serif;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);

  hgroup {
    margin: 14px 0;

    p {
      font-size: .92em;
      color: #000;
      letter-spacing: .5px;
    }

    small {
      font-size: .8em;
      letter-spacing: .5px;
      margin-right: 6px;
    }
  }
}

#allModalStyle {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  right: 0 !important;
  position: absolute;
  border: none !important;

  .modal-content {
    border: none !important;
    background: #ffffff;
    border-radius: 0;
    top: 0;
    right: 0;
    min-height: 100vh !important;
    max-width: 100vw !important;
    width: 30vw;
    font-family: Nunito, sans-serif;

    .modal-header {
      border: none;
      border-bottom: 1px solid #cccccc;

      .modal-title {
        text-align: left;
        padding-left: 16px;
        font-size: 24px;
      }

      .close {
        display: none;
      }
    }

    .modal-form {
      min-height: 20vh;
      font-size: 14px !important;

      .form-control {
        border-radius: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 40px;
      }

      .form-check {
        display: inline;
        margin-right: 20px;
      }

      .pay-form-style {
        .form-check {
          display: block;
          margin-right: 20px;
        }
      }

      .form-group {
        padding: 0px 20px 0px 15px;

        //input,
        //select {
        //  background-color: white;
        //  height: 50px;
        //  width: 100%;
        //}
      }

      .basic-multi-select {
        padding: 0 45px 20px 30px;
        margin-top: 10px;

        .select__control {
          background-color: transparent;
        }

        .select__value-container {
          height: 50px;
        }
      }
    }

    .modal-footer {
      border: none;
      margin-right: 14px;
      padding: 20px 30px 20px 30px;
    }
  }
}

